@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: #1cb0f8;
  /* color: #fff !important; */
  @apply bg-[#DDF4FF];
  border: 1px solid #84d8ff;
  color: #1cb0f8;
  font-weight: bold;
}
